*{
	margin: 0;
	padding: 0;
}

body{
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}

html{
	scroll-behavior: smooth;
}

.container{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;

}

header{
	height: 589px;
	background-image: url(img/header.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.logo{
	margin: 0 auto;
	width: 109px;
	padding-top: 64px;


}

.nav{
	text-align: center;
	margin-top: 47px;
}

.links{
	color: #fff;
	text-decoration: none;
	margin-left: 34px;
}

#menu{
	color: #fff;
	text-decoration: none;
	display: none;
}

.headline{
	color: #fff;
	font-size: 25px;
	text-align: center;
	margin-top: 79px;
}

.line{
	width: 101px;
	height: 2px;
	background-color: #697678;
}

.paragraph{
	display: flex;
	color: #fff;
	align-items: center;
	width: 512px;
	margin: 0 auto;
	flex-wrap: wrap;
	margin-top: 44px;
}

.btn{
	color: #fff;
	width: 235px;
	height: 48px;
	background-color: #50c3af;
	text-align: center;
	border-radius: 23px;
	margin: 83px auto 0;
	cursor: pointer;

}

.btn p{
   padding-top: 15px;
}

.sec1_elem{
	width: 180px;
	height: 207px;
	text-align: center;
	margin-left: 20px;
}

.sec1_elem h3{
	padding-top: 33px;
	padding-bottom: 24px;
	border-bottom: 2px solid #e2e3e4;
	color: #40474e;
}

.sec1_elem p{
	color: #787b80;
	font-size: 12px;
	padding-top: 14px;
}

.sec1_content{
	display: flex;
	padding-top: 62px;
	flex-wrap: wrap;
}

.sec1_elem img{
	height: 42px;
}

.sec1{
	height: 285px;
	background-color: #eeeeef;
}

.sec2{
	height: 526px;
	background-color: #f5f5f5;
}

.sec2_content{
	display: flex;
	flex-wrap: wrap;
	padding-top: 65px;
}

.sec2_elem{
	width: 264px;
	height: 410px;

}

.sec2_elem p{
	font-size: 12px;
	padding-top: 14px;
	color: #787b80;
}

.sec2_elem h3{
	color: #40474e;
	padding-bottom: 25px;
	border-bottom: 2px solid #ededee;
	font-size: 16px;
	padding-top: 42px;
}

.sec2_elem_btn{
	width: 98px;
	height: 35px;
	background-color: #50c3af;
	border-radius: 20px;
	text-align: center;
	margin-top: 32px;
	cursor: pointer;
}

.sec2_elem_btn p{
	color: #fff;
	padding-top: 8px;
}

.sec2_elem_paragraph{
	margin-top: 16px;
}

#sec2_elem2{
	margin-left: 65px;
}

.sec3{
	height: 327px;
	background-color: #eeeeef;
}

.sec3_headline{
	display: flex;
	padding-bottom: 25px;
	border-bottom: 2px solid #e6e6e7;
	padding-top: 63px;
	margin-left: 10px;
}

.sec3_headline h3{
	margin-left: 12px;
	color: #384048;
	
}

.sec3_headline img{
	height: 23px;
}

.sec3_paragraph{
	padding-top: 26px;
	color: #787b80;
	font-size: 12px;
	margin-left: 10px;
}

.sec3_btn{
	width: 98px;
	height: 35px;
	background-color: #d2d5da;
	border-radius: 20px;
	text-align: center;
	margin-top: 38px;
	cursor: pointer;
	margin-left: 10px;
}

.sec3_btn p{
	color: #fff;
	padding-top: 8px;
	font-size: 13px;
}

.sec4{
	height: 440px;
	background-color: #f5f5f5;
}

.sec4_content{
	display: flex;
	flex-wrap: wrap;
	padding-top: 60px;
}

.sec4_elem{
	width: 181px;
	height: 333px;

}

.sec4_elem h3{
	padding-top: 41px;
	padding-bottom: 22px;
	border-bottom: 2px solid #ededee;
	font-size: 15px;
	color: #40474e;
}

.sec4_elem_paragraph{
	margin-top: 18px;
}

.sec4_elem_paragraph p{
	padding-top: 12px;
	font-size: 12px;
	color: #787b80;
}

.sec4_elem_btn{
	margin-top: 30px;
}

.sec4_elem_btn p{
	color: #50c3af;
	cursor: pointer;

}

#sec4_elem2{
	margin-left: 23px;
}

#sec4_elem3{
	margin-left: 23px;
}

.sec5{
	height: 320px;
	background-color: #eeeeef;
}

.sec5_elem{
	width: 283px;
	height: 212px;
}

.sec5_headline{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 22px;
	border-bottom: 2px solid #e6e7e8;
}

.sec5_headline h3{
	margin-left: 16px;
	color: #40474e;

}

.sec5_paragraph{
	font-size: 11px;
	padding-top: 15px;
}

.sec5_btn{
	width: 98px;
	height: 35px;
	background-color: #50c3af;
	border-radius: 20px;
	text-align: center;
	margin-top: 32px;
	cursor: pointer;
}

.sec5_btn p{
	color: #fff;
	padding-top: 8px;
	font-size: 14px;
}

.sec5_paragraph p{
	padding-top: 12px;
	color: #787b80;
}

.sec5_content{
	display: flex;
	padding-top: 62px;
}

#sec5_elem2{
	margin-left: 65px;
}



.sec6{
	height: 331px;
	background-color: #f5f5f5;
}

.sec6_content{
	display: flex;
	flex-wrap: wrap;
	padding-top: 60px;
}

.sec6_headline{
	padding-bottom: 22px;
	border-bottom: 2px solid #e9e9ea;
}

.sec6_headline h3{
	color: #40474e;
	font-size: 15px;
}

.sec6_paragraph{
	margin-top: 19px;
}

.sec6_paragraph p{
	font-size: 11px;
	color: #787b80;
	padding-top: 12px;
}

.sec6_btn{
	margin-top: 32px;
	width: 98px;
	height: 35px;
	background-color: #d2d5da;
	border-radius: 20px;
	text-align: center;
	cursor: pointer;
	
}

.sec6_btn p{
	color: #fff;
	padding-top: 8px;
	font-size: 13px;
}

.sec6_text{
	margin-left: 35px;
	padding-top: 4px;
}

.sec7{
	height: 221px;
	background-color: #50c3af;
}

.sec7_headline{
	display: flex;
	flex-wrap: wrap;
	padding-top: 49px;
	width: 368px;
	margin: 0 auto;
	padding-bottom: 24px;
	border-bottom: 2px solid #61c8b6;
}

.sec7_content{
	display: flex;
	flex-wrap: wrap;
	margin-top: 39px;


}

.sec7_headline h3{
	color: #fff;
}

.sec7_content img{
	padding-right: 46px;
	cursor: pointer;
}

footer{
	height: 60px;
	background-color: #f5f5f5;
}

.footer_content{
	padding-top: 20px;
}

.footer_content p{
	
	color: #787b80;
}

.footer_content img{
	float: right;
	margin-right: 16px;
	cursor: pointer;

}

.footer_paragraph{
	float: left;
}

.footer_soc{
	float: right;
}


.ad_menu{
	height: 340px;
	background-color: #50c3af;
	display: none;

}

.ad_nav{
	width: 320px;
}

.ad_links{
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-decoration: none;
	font-size: 30px;
	margin-left: 35px;

}
















/*   MEDIA  */

@media screen and (max-width: 980px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 640px){



	.sec7{
		height: 400px;
	}

	.sec7_content{
		display: block;
		width: 120px;
		margin: 0 auto;
	}

	.sec7_content img{
        padding: 0;
        margin-top: 35px;
	}

	.sec6{
		height: 590px;
	}

	.sec6_text{
	margin-left: 0px;
	padding-top: 35px;
    }

	.sec6_content{
	display: block;
	width: 284px;
	margin: 0 auto;
	
    }

	.sec5_content{
		display: block;
		width: 283px;
		margin: 0 auto;
	}
    
    #sec5_elem2{
    	margin-left: 0;
    	margin-top: 65px;
    }

    .sec5{
    	height: 603px;
    }


	.sec1_content{
		display: block;
		width: 180px;
		margin: 0 auto;
	}

	.sec1{
		height: 750px;
	}

	.sec2_content{
		display: block;
		width: 264px;
		margin: 0 auto;
	}

	#sec2_elem2{
		margin: 65px 0 0;
	}

	.sec2{
		height: 1000px;
	}

	.sec4_content{
		display: block;
		width: 181px;
		margin: 0 auto;
	}

	#sec4_elem2{
	margin-left: 0;
	margin-top: 60px;
    }

    #sec4_elem3{
	margin-left: 0;
	margin-top: 60px;
    }

    .sec4{
    	height: 1250px;
    }



}

@media screen and (max-width: 480px){

	.ad_menu{
		display: block;
	}


	.links{
		display: none;
	}

	#menu{
		display: initial;
	}

	.line{
		display: none;
	}

	.paragraph{
		width: 268px;
	}

	.headline{
		font-size: 17px;
	}

	.sec7_headline{
		width: 300px;
	}

	.sec7_headline h3{
		font-size: 14px;
	}

    .footer_content p {
    
    font-size: 12px;
    }


}

@media screen and (max-width: 375px){
	.footer_content p {
    
    font-size: 9px;
    }

}

@media screen and (max-width: 320px){

}


@keyframes fade{
	from{
		background-color: #50c3af;
	}

	to{
		background-color: #3f8b7e;
	}
}


@keyframes fadeoff{
	from{
		background-color: #3f8b7e;
	}

	to{
		background-color: #50c3af;
	}
}


.btn:hover{
	background-color: #3f8b7e;
	animation:fade 0.5s ease-in-out;
}

.btn{
	animation:fadeoff 0.5s ease-in-out;
}

.sec2_elem_btn:hover{
	background-color: #3f8b7e;
	animation:fade 0.5s ease-in-out;
}

.sec2_elem_btn{
	animation:fadeoff 0.5s ease-in-out;
}

.sec5_btn:hover{
	background-color: #3f8b7e;
	animation:fade 0.5s ease-in-out;
}

.sec5_btn{
	animation:fadeoff 0.5s ease-in-out;
}

@keyframes linkfade{
	from{
		color: #fff;
	}

	to{
		color: #50c3af;
	}
}

@keyframes linkfadeoff{
	from{
		color: #50c3af;
	}

	to{
		color: #fff;
	}
}

.links:hover{
	animation:linkfade 0.5s ease-in-out;
	color: #50c3af;
}

.links{
	animation: linkfadeoff 0.5s ease-in-out;
}

#menu:hover{
	animation:linkfade 0.5s ease-in-out;
	color: #50c3af;
}

#menu{
	animation: linkfadeoff 0.5s ease-in-out;
}


